@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";

    
}

<h1 class="text-danger">Error.</h1>
<h2>@ViewBag.Error </h2>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<p>Dear Admin <br /><br />Mbulelo Ndlovu has reserverd a car. please see booking ID below<br />Booking ID:2342342<br />Please contact Client on the following email: {_user} <br /><br />regards<br /><br /> Mbulelo </p>